<html>
    <head>
        <title>{{ title }}</title>
        </head>
    <body style="background-color:powderblue">
        <h1>Mark's To Do List</h1>
        <ul> {% for objects in myobjects%}
            <tr>
                <p2 style="font-size:120%;background-color:Grey">Task:</p2> 
                <td>  {{ objects[0] }} </td>
                <p2 style="font-size:120%;background-color:darkgrey">Description:</p2> 
                <td>  {{ objects[2] }} </td>
                <form action=http://localhost:5000/completed/{{ objects[1] }}>
                    <input type="submit" value="Mark Completed" />
                </form>
                </td>
           
        {% endfor %}
        </ul>

        <form action="/addtask" method="POST">
            <label>Task name:</label><br>
            <input type="text" name="addTo"><br>
            <label>Task Description:</label><br>
            <input type="text" name="description"><br>
          <Button type="submit">Submit Task</button>
        </form>
    </body>
</html>